body {
  background-color: #b0bec5;
}

.Main-theme {
  background-color: #c62828;
}
.Button-theme {
  background-color: #ef6c00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
